



.root {
    -fx-background-image: url("/asterix-bg.jpg");
    -fx-background-size: contain;
    -fx-background-position: center;
}

/* vbox conatiner (all components) */
.vbox {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 15;
    -fx-padding: 30;
    -fx-spacing: 20;
}

/* buttons */
.button {
    -fx-background-color: #ffcc00;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #ff9900;
}

/* radio buttons*/
.radio-button {
    -fx-font-size: 18px;
    -fx-font-family: "Comic Sans MS", sans-serif;
    -fx-text-fill: #8B4513;
    -fx-background-color: #FAF0E6;
    -fx-padding: 10px 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #D2B48C;
    -fx-border-width: 2px;
}

/* labels */
.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}
